<div class="black-block">
  <h4 class="console-title">Тут появится текст :-)</h4>
  <ng-container *ngFor="let control of showingControlsInfo|async">
    <p>{{control.name}}: {{control.value}}</p>
  </ng-container>
</div>
