<form [formGroup]="form" class="form-container">
    <ng-container *ngFor="let control of controlInfo">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{control.label}}</mat-label>
        <input
          matInput
          placeholder="{{control.label}}"
          formControlName="{{control.controlName}}"
          appSetWidth [width]="control.width"
        >
      </mat-form-field>
    </ng-container>
</form>
