<h2 class="form-title">Родительская форма</h2>
<form class="form-wrapper" [formGroup]="form">
  <div class="form-container">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Название контрола</mat-label>
      <input class="create-form-input" matInput placeholder="Любой" formControlName="controlName">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Label</mat-label>
      <input class="create-form-input" matInput placeholder="Любой" formControlName="label">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ширина input в пикселях</mat-label>
      <input class="create-form-input" matInput placeholder="Любая" formControlName="width">
    </mat-form-field>
  </div>
  <button class="btn-click-me" [disabled]="form.invalid" (click)="submit()">Добавь контрол!</button>
</form>
<app-open-close-pattern-form-builder [addControl$]="addControl$.asObservable()"></app-open-close-pattern-form-builder>
<app-oc-pattern-show-controls></app-oc-pattern-show-controls>

