<h3 class="content-block-title"><b>Рассмотрим типичные антипаттерны данного подхода</b></h3>
<p>&nbsp;&nbsp;Первый и наиболее часто встречающейся - компонент "god". Компонент отвечающий за все подряд</p>
<img class="schema"
     src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/anti-srp-ts.png?alt=media&token=4c312550-7c4e-4e54-b17a-0f455fe0dda1"
     alt="Не удалось загрусь фото">
<p>&nbsp;&nbsp;Типичничный подход "god".</p>
<ul>
  <li>Напрочь отсутсвует разделение ответсвенности.</li>
  <li>Компонент ответсвенен за взаимодейсвие с api. Обычно за это ответсвенен сервис.</li>
</ul>
<p>&nbsp;&nbsp;На работе нашего модального окна это никак не отразиться - можете убедиться!</p>
<button class="btn-click-me" (click)="openDialog()">Нажми меня!</button>
<p><b>&nbsp;&nbsp;Но есть огромные и очевидные минусы:</b></p>
<ul>
  <li>Очень трудный в чтении код.</li>
  <li>Абсолютно неподдежуемое приложение.</li>
</ul>
<p>&nbsp;&nbsp;Ужасная практика, не так ли?</p>
<p><i>&nbsp;&nbsp;
  Есть и другой случай крайности - принцип размытой ответсвенности,
  на примере я его показывать не буду, но этот антипаттерн полная противоположность "god" -
  чуть-ли не каждое свойство находится в своем компоненте. Делаем вывод - все разумно, но в меру.
</i></p>
<h3 class = "content-block-title"> Single responsibility - отличный принцип, диктующий вам писать поддержуемый и
  структурированный код!</h3>

