<h3 class="content-block-title">Дабы увидеть картину в полной мере - рассмотрим негативный пример.</h3>
<p>&nbsp;&nbsp;Пример обсалютно аналогичен предыдущему, но спроектирован немного по-другому</p>
<img class="schema"
     src="https://firebasestorage.googleapis.com/v0/b/solid-a8ec5.appspot.com/o/ls-anti-pattern.png?alt=media&token=a66e6fed-1036-4d8c-8ebb-c3904be38e3e"
     alt="Не удалось загрузить фото("
>
<p><i>&nbsp;&nbsp;Опять же: есть базовый класс Person, но теперь у нас все остальные классы являются прямыми
  наследниками. <b>Каков же будет результат?</b></i></p>
<img class="schema"
     src="https://firebasestorage.googleapis.com/v0/b/solid-a8ec5.appspot.com/o/ls-anti-pattern-1.png?alt=media&token=564ced04-9086-42d4-8c96-487d14d0c1c6"
     alt="Не удалось загрузить фото("
>
<p><i>&nbsp;&nbsp;У нас два варианта: <b>переопределить наш метод(вернуть null и т.д), ну и второй(часть первого) -
  вернуть ошибку</b>.</i></p>
<img class="schema"
     src="https://firebasestorage.googleapis.com/v0/b/solid-a8ec5.appspot.com/o/ls-anti-pattern-2.png?alt=media&token=8929e170-47fc-4c32-8834-83f402cce78f"
     alt="Не удалось загрузить фото("
>
<img class="schema"
     src="https://firebasestorage.googleapis.com/v0/b/solid-a8ec5.appspot.com/o/ls-anti-pattern-3.png?alt=media&token=affea289-147b-43d2-89f5-28bd8eca8e36"
     alt="Не удалось загрузить фото("
>
<img class="schema"
     src="https://firebasestorage.googleapis.com/v0/b/solid-a8ec5.appspot.com/o/ls-anti-pattern-4.png?alt=media&token=b54ac915-7a78-457e-94fd-b32a619ab372"
     alt="Не удалось загрузить фото("
>
<p><i>&nbsp;&nbsp;И все вроде-бы хорошо, не так ли? <b>Но есть небольшое но - следующий скрин</b>.</i></p>
<img class="schema"
     src="https://firebasestorage.googleapis.com/v0/b/solid-a8ec5.appspot.com/o/ls-anti-pattern-5.png?alt=media&token=d7bbf49f-4d83-4c30-a90e-a5e56bc6997e"
     alt="Не удалось загрузить фото("
>
<p><i>&nbsp;&nbsp;Мы, как вызывающий код - обязаны знать о возможности ошибки или возвращении иных значений. <b>Это
  плохая практика в долгой перспективе</b>.</i></p>
<p>&nbsp;&nbsp;Это не становится проблемой когда мы знаем реализацию, но мы ее знаем не всегда. <b>Ведь так?</b>
  В определенном смысле - типизация нас немного страхует от нарушения данного принципа, но все возможно).</p>
<p>&nbsp;&nbsp;Данный принцип в полной мере можно постичь лишь на практике, ведь он относиться к более низкоуровневому
  проектированию.
  Мы должны понимать, что любой неожиданный результа в коде - ужасно! Особенно когда мы поддерживаем чей-то код.
  Знакомая ситуация?
</p>
<h3 class="content-block-title">&nbsp;&nbsp; Используя принцип подстановки Барбары Лисков - вы точно значительно
  упростите процесс поддежки и разработки себе и коллегам. Данный прицип учит нас писать предсказуемый и легко
  поддерживаемый код! Обязательно научитесь использовать данный принцип!</h3>
