<app-main-layout>
  <div class="title-block">
    <app-title-ls-block></app-title-ls-block>
  </div>
  <div class="content-block abstract-block">
    <app-abstract-ls-block></app-abstract-ls-block>
  </div>
  <div class="content-block example-block">
    <app-example-ls-block></app-example-ls-block>
  </div>
  <div class="content-block anti-block">
    <app-anti-ls-block></app-anti-ls-block>
  </div>
</app-main-layout>
