<app-main-layout>
  <div class="title-block">
    <app-title-srp-block></app-title-srp-block>
  </div>
  <div class="content-block abstract-block">
    <app-abstract-srp-block></app-abstract-srp-block>
  </div>
  <div class="content-block example-block">
    <app-example-srp-block></app-example-srp-block>
  </div>
  <div class="content-block anti-block">
    <app-anti-srp-block></app-anti-srp-block>
  </div>
</app-main-layout>

