<h3 class="content-block-title"><b>И как же нам понимать данный принцип?</b></h3>
<p>&nbsp;&nbsp;Все оказывается немного проще чем кажется на первый взгляд - мы просто должны расширять уже ИМЕЮЩИЙСЯ код,
  но не менять его. Данный принцип схематически представлять не имеет смысла так, как он не диктует нам определенной
  структуры (как в случае с Single responsibility), его будет проще понять из прочтенного вами текста.
</p>
<p>&nbsp;&nbsp; Давайте представим себе какой-то условный предмет, к пимеру - ведро с водой.</p>
<img class="schema oc-photo" src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/pngwing.com.png?alt=media&token=7c3dabaf-5ace-4644-81c4-e263f45f9251"
alt="Не удалось загрузить фото"
>
<p>&nbsp;&nbsp; Чудесное ведро, не так ли?</p>
<p>&nbsp;&nbsp; Данный принцип диктует нашим компонентам быть максимально расширяемыми и универсальными. Наше ведро должно
  принимать в себя любой тип жидкости и не зависеть от окружения в котором находится
  , но, при этом его структура изменяться не должна. Глупо было-бы проектировать новое
  ведро под разные типы субстанций или под разные внешние условия, если данное ведро мы используем часто и содержимое может отличаться по: объему, температуре,
  свойствам и иным параметрам - данное ведро имеет смысл проектировать с учетом этого и, делать его структуру универсальной.
  Но, безусловно, данный подход не должен нарушать принцип единой ответсвенности (и все остальные в том числе) - наше ведро
  должно оставаться ведром и быть своего рода "контейнером для всего жидкого".
</p>
