<button mat-button [matMenuTriggerFor]="beforeMenu"><i class="material-icons icon">menu</i></button>
<mat-menu #beforeMenu="matMenu" xPosition="before" class="menu-window">
  <button mat-menu-item [routerLink]="['/single-responsibility']">Single responsibility</button>
  <button mat-menu-item [routerLink]="['/open-close']">Open/Close</button>
  <button mat-menu-item [routerLink]="['/liskov-substitution']">Liskov substitution</button>
  <button mat-menu-item [routerLink]="['/interface-segregation']">Interface segregation</button>
  <button mat-menu-item>Dependency inversion</button>
</mat-menu>
