<app-main-layout>
  <div class="title-block">
    <app-title-is-block></app-title-is-block>
  </div>
  <div class="content-block abstract-block">
    <app-abstract-is-block></app-abstract-is-block>
  </div>
  <div class="content-block example-block">
    <app-example-is-block></app-example-is-block>
  </div>
  <div class="content-block anti-block">
    <app-anti-is-block></app-anti-is-block>
  </div>
</app-main-layout>
