<h3 class="content-block-title"><b>Теперь рассмотрим разделение интерфейсов на более практических примерах.</b></h3>
<p>&nbsp;&nbsp; Как пример возьмем жизненные циклы компонента Angular.</p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/solid-a8ec5.appspot.com/o/is-pattern-1.png?alt=media&token=e066c620-1a62-44f5-b813-7952c866a52f"
     alt="Не удалось загрузить фото("
>
<p>&nbsp;&nbsp; Каждый из них - является интерфейсом. Имплементируясь от интерфейса - мы обязуемся реализовать опрделенный метод,
  который вызывается ядром согласно договорённости.</p>
<p>&nbsp;&nbsp; Прелесть состоит в том, что это разные интерфейсы - Angular не обязывает нас реализовывать все эти методы(хуки), мы
  пользуемся лишь теми, которые нам необходимы для той или иной задачи и при обновлении нашего framework у нас ничего не
  поломается . Следуя данному подходу
  мы не вынуждены как-то ухищряться и создавать заглушки и т.д.
</p>
<p><b>&nbsp;&nbsp; Рассмотрим еще один пример</b></p>
<p>&nbsp;&nbsp; Данный пример отлично и просто показывает interface segregation принцип</p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/solid-a8ec5.appspot.com/o/is-pattern-2.png?alt=media&token=bf6d7430-8e55-40c9-8b19-9b6ef38e3d3d"
     alt="Не удалось загрузить фото("
>
<p><i>&nbsp;&nbsp; У нас есть класс обычного человека у него есть только базовые свойства, он имплементриется от интерфейса IPerson</i></p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/solid-a8ec5.appspot.com/o/is-pattern-2.1.png?alt=media&token=0190128f-9ed8-41ce-a172-d171643bb668"
     alt="Не удалось загрузить фото("
>
<p><i>&nbsp;&nbsp;И есть класс водителя и класс строителя, они имплементируются от IBuilder и IDriver</i></p>
<p>&nbsp;&nbsp; Мы не обязаны реализовывать в классе персоны, или в любом другом классе реализовывать свойства не присущие
данному классу, мы делаем все очень очевидно для других разработкичов и для себя.</p>

