<h3 class="content-block-title"><b>Ну чтоже, перейдем к более детальному, приближенному к боевым условиям
  примеру.</b></h3>
<button class="btn-click-me" (click)="openDialog()">Нажми меня!</button>
<p> &nbsp;&nbsp; Типичный компонент для люого сайта, не так ли? Очевидно что так! Любой front-end разработчик в той
  или иной концепции
  сталкивался с модальным окном в рабочей практике.
</p>
<p><b>&nbsp;&nbsp; Рассмотрим этот пример более детально</b></p>
<img class="schema"
     src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/%D0%A1%D1%85%D0%B5%D0%BC%D0%B0%20%D0%BC%D0%BE%D0%B4%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BE%D0%BA%D0%BD%D0%B0.png?alt=media&token=2af9efe8-bc76-4c20-a451-9cceb4a648f1"
     alt="Не удалось загрусь фото">
<p>&nbsp;&nbsp; Как видите у каждого компонента и кнопни данного модального окна есть своя ответственность.</p>
<p>&nbsp;&nbsp; Почему бы нам не провеси аналогию в нашем с вами коде?</p>
<img class="schema"
     src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/single-resp-module.png?alt=media&token=7df4b6fe-b599-4d7c-a079-03c9c6cd285e"
     alt="Не удалось загрусь фото">
<p><i>&nbsp;&nbsp; Наш модуль. Его ответственность - регистрация наших компонентов, сервисов, других модулей и иных
  сущностей. Типичная сущность angular-приложения, большое количество регистраций различных сущностей в одном модуле
  значительно усложнит понимание вашего кода, всегда старайтесь делать более локальные модули.
</i></p>
<img class="schema"
     src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/single-resp-patt.comp-html.png?alt=media&token=874f6b86-d598-4ce9-8f9e-b6e14ac7f2fd"
     alt="Не удалось загрусь фото">
<p><i>&nbsp;&nbsp; HTML файл нашего модального окна. Его ответственность - реализация UI нашего модального окна.
  Это своего рода контейнер для всех видимых частей нашего окна.
</i></p>
<img class="schema"
     src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/single-resp-patt.maj-comp.png?alt=media&token=f5b76106-a5d6-4826-ada5-80d3b5896cde"
     alt="Не удалось загрусь фото">
<p><i>&nbsp;&nbsp; TS файл нашего мольного окна. Ответсвенный за формирование самого компонента, также-
  непосредственно является логической частью отображения нашего окна.
</i></p>
<img class="schema"
     src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/single-resp-patt.comp-html-content.png?alt=media&token=3731f326-c6e0-4fb3-93eb-4f370f352b4e"
     alt="Не удалось загрусь фото">
<p><i>&nbsp;&nbsp; HTML файл нашего логического компонента. Ответственный за формирование контента внутри
  данной сущности.
</i></p>
<img class="schema"
     src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/single-resp-patt.comp.png?alt=media&token=e91928c3-eb0a-497e-ab3c-9951cffc2a63"
     alt="Не удалось загрусь фото">
<p><i>&nbsp;&nbsp; TS файл нашего логического компонента. Реализует логику посчета сообщений нашего модального окна,
  и также как файл выше - отвечает за формирование самого компонента.</i></p>
<img class="schema"
     src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/single-resp-patt.service.png?alt=media&token=6f3d2ab7-d4ea-4950-bf75-8e33bfc1696c"
     alt="Не удалось загрусь фото">
<p><i>&nbsp;&nbsp; Service ответственный за получение данных из api.</i></p>
<p><b>&nbsp;&nbsp; Этот простейший пример реализует принцип single responsibility. В дальнейшем это значительно
  упростит поддержку нашего приложения.
</b></p>
