<h3 class="content-block-title"><b>Давайте посмотрим как делать НЕ надо</b></h3>
<p>&nbsp;&nbsp; Будем рассматривать на примере все того же компонента-фабрики , но с одним исключнием - <b>фабрикой он более не
  является</b>
</p>
<app-open-close-antipattern></app-open-close-antipattern>
<h4 class="content-block-title">Посмотрим на код данного компонента</h4>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/oc-antipatter-ts.png?alt=media&token=267509a8-2e3a-4aea-893c-917acc445e3a"
     alt="Неудалось загрузить фото("
>
<p><i>&nbsp;&nbsp;Логика нашей формы</i></p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/oc-antipatter-html.png?alt=media&token=28eb9902-d99d-4560-acb1-1a65d81a1b3e"
     alt="Неудалось загрузить фото("
>
<p><i>&nbsp;&nbsp;Шаблон нашей формы</i></p>
<p>&nbsp;&nbsp; Я думаю вы не нуждаетесь в моих разъяснениях чтобы понять: наша форма стала гараздо менее гибкой и читаемой, а
  в перспективе, когда мы захотим её еще где-то переиспользовать - нам потребуются еще условия и нам станент гараздо проще
  создать новую форму, нежели переиспользовать уже имеющуюся - это не хорошо...
</p>
<p>&nbsp;&nbsp;Еще один известный антипаттерн<br/>
  <b>Anti-OCP</b> – Принцип фабрики фабрик. Дизайн является слишком обобщенным и расширябельным,
  выделяется слишком большое число уровней абстракции.</p>
<p>&nbsp;&nbsp; Стоит понимать - на 100 процентов гибким сделать приложение не получится, всегда будет оставаться hardcode,
  но его количество должно быть невелико. Также структуры могут быть временно не гибкими, если они относятся к верхним уровням
  абстракций, но когда они опустяться на уровень ниже - hardcode обязань быть минимализирован.
</p>
<h3 class="content-block-title">Каков итог?</h3>
<p><b><i>&nbsp;&nbsp;Open-close принцип диктует нам писать универсальный, расширяемый, гибкий и просто - красивый код!
Мы с вами рассмотрели данный принцип на буквальных примерах, осталось только интерпретировать данный принцип у себя в приложении!
</i></b></p>

