<h4 class="content-block-title">Наш компонент-антипаттерн</h4>
<form class="form-container" [formGroup]="form">
  <ng-container *ngIf="router.url !== '/some-page'">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input class="create-form-input" type="email" matInput placeholder="email@gmail.com" formControlName="email">
    </mat-form-field>
  </ng-container>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Пароль</mat-label>
      <input class="create-form-input" type="password" matInput placeholder="javaScript123" formControlName="password">
    </mat-form-field>
    <ng-container *ngIf="router.url === '/open-close'">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Телефон</mat-label>
        <input class="create-form-input" matInput placeholder="+1123456789" formControlName="phoneNumber">
      </mat-form-field>
    </ng-container>
  <ng-container *ngIf="router.url === '/some-page'">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Какой-то контрол</mat-label>
      <input class="create-form-input" matInput placeholder="что-то там" formControlName="someControl">
    </mat-form-field>
  </ng-container>
</form>
