<h1 class="title">Open-Close</h1>
<p class="text">Полезный, но отнють не простой для понимания принцип.
  Гласит он вот о чем: "<i>Структура должна быть открыта для расширения, но закрыта для модификации</i>". Возникает небольшой диссонанс, не так ли?
  Давайте разберемся в столь противоричивом для начинающих разработчиков трактовании.
</p>
