<app-main-layout>
  <div class="title-block">
    <app-title-oc-block></app-title-oc-block>
  </div>
  <div class="content-block abstract-block">
    <app-abstract-oc-block></app-abstract-oc-block>
  </div>
  <div class="content-block example-block">
    <app-example-oc-block></app-example-oc-block>
  </div>
  <div class="content-block anti-block">
    <app-anti-oc-block></app-anti-oc-block>
  </div>
</app-main-layout>
