<div class="main-wrapper">
  <ng-content select="div.title-block"></ng-content>
  <ng-content select="div.abstract-block"></ng-content>
  <ng-content select="div.example-block"></ng-content>
  <ng-content select="div.anti-block"></ng-content>
</div>
