<h3 class="content-block-title"><b>Для начала рассмотрим этот принцип на более абстрактном примере.</b></h3>
<p>&nbsp;&nbsp;Данный пример естественно будет упрощенным, но с моей точки зрения - достаточно подходящий для
  описания
  основных идей данного принципа.</p>
<img class="schema"
     src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/diagram%20(3)_LI.jpg?alt=media&token=a5559758-55b4-4621-8211-5a12b717483c"
     alt="Не удалось загрусь фото">
<p>&nbsp;&nbsp;Данная схема условного кафе неплохо отражает принцип single responsibility.</p>
<p>&nbsp;&nbsp;Кафе в данном конексте выступает в роли чего-то глобального, например - нашего приложения.</p>
<ul>
  <li>У каждого структуры должна быть единая ответственность.</li>
  <li>Никакая структура не должна брать на себя роль любой другой.</li>
  <li>Более того - структура также бьется на подструктуры которые, в свою очередь, действуют по выше упомянутым
    правилам.
  </li>
</ul>
<p>&nbsp;&nbsp;Это абсолютно никаким образом не мешает быть различным компонентам в любого рода связях
  с другими компонетами нашей глобальной структуры.</p>
