<div class="dialog-wrapper" [ngClass]="{
  'wrapper-black': isBlackTheme
}">
  <h1 mat-dialog-title>Single responsibility</h1>
    <h4>Компонент-счетчик</h4>
    <p>Количество пользовательски сообщений : {{counterMessages()}}</p>
  <div class="actions" mat-dialog-actions>
    <button mat-button mat-dialog-close>Закрыть</button>
    <button mat-button (click)="isBlackTheme = !isBlackTheme">Сменить тему</button>
  </div>
</div>
