<h3 class="content-block-title"><b>Давайте поясню в чем суть interface segregation немного более детально</b></h3>
<p>&nbsp;&nbsp;В определенном смысле продолжает идею single responsibility принципа и
  дает более полную картину идей данного подхода.</p>
<p>&nbsp;&nbsp;Наша цель состостоит в разумной деструктуризации интерфейсов, чтобы максимально точно охарактеризовать свойства и
поведение клиента. Нам не стоит делать клиента зависимым от свойств и методов которые не являются характерными для него.
</p>
<p><b>&nbsp;&nbsp;Давайте сейчас рассмотрим на более абстрактном примере.</b></p>
<p>&nbsp;&nbsp; Представим себя рыбаками-металлургами!</p>
<img class="schema" src="https://lh3.googleusercontent.com/proxy/dc_MLCSznxFcuipY_s76SPzqHn-5SbkbNY6ypyJoAKlNR-10R7HfgDuXoAHgo6-6AQxCIhIdeNmOaBReXKZVg_JDpdwdpsvn-l5_R_r3RkCJ9Og"
     alt="Не удалось загрузить фото("
>
<p>&nbsp;&nbsp;Мы решили выплавлять грузики для нашей деятельности. Наши формочки - своего рода интерфейсы, они задают базовые
  свойства(размер, площадь, физическая форма) нашего будущего грузика. Мы изготовляя наш компонент снасти всецело
  доверяем данной форме так, как она довольно конкретна, она неплохо описывает то, что мы получим на выходе. Это отлично!
  Наша цель именно в этом и состоит - мы не должны идти на различные ухищрения для изготовляения наших грузиков(обрезать,
  поджимать и т.д.) мы получаем готовый продукт благодаря различным большому количеству вариаций данных интерфейсов,
  мы не завизимы от лишних деталей - они не создают нам неудобства.
</p>
<p><b>&nbsp;&nbsp;Думаю у нас теперь имеется вполне полное абстрактое понимание данного принципа).</b></p>
