<h3 class="content-block-title">Давайте рассмотрим код основанный на данном принципе</h3>
<p>&nbsp;&nbsp;Пример достаточно абстрактный, но данный принцип лучше понять на чем-то более примитивном. В некоторых местах
я убрал типизацию , так как она немного усложняет демонстрацию данного принципа.
</p>
<p>&nbsp;&nbsp;Условно представим себе такую ситуацию: мы получаем всех пользователей нашего сайта из api.
</p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/solid-a8ec5.appspot.com/o/ls-pattern-1-current.png?alt=media&token=c4efb664-26b1-4de0-8863-1a350aba7d93"
     alt="Не удалось загрузить фото("
>
<p><i>&nbsp;&nbsp;Наш базовый класс Person , в нем реализованы базовые свойства всех подклассов наших ползователей.
  Также класс Administration является родителем для пользователей принадлежащих к администрации и наследником.
  Что, безусловно - логично).</i></p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/solid-a8ec5.appspot.com/o/ls-pettern-current.png?alt=media&token=ea94e044-1705-4392-9cb7-1f5434d0bc92"
      alt="Не удалось загрузить фото("
>
<p><i>&nbsp;&nbsp;Класс Users - также наследник класса Person, <b>имеет метод getRating который возвращает рейтинг - свойство присущее
  лишь User и Salesman (наследникам данного класса) инстансы которых будут являються сущностями "user" и "salesman"</b>. </i></p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/solid-a8ec5.appspot.com/o/ls-pattern-2-current.png?alt=media&token=0215d52f-ce53-43c5-9006-6153a3bb8dbd"
      alt="Не удалось загрузить фото("
>
<p><i>&nbsp;&nbsp;Непоредственно - наши сущности.</i></p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/solid-a8ec5.appspot.com/o/ls-pattern-3-current.png?alt=media&token=d204dd77-bea2-4939-b990-26196c7d40a9"
      alt="Не удалось загрузить фото("
>
<p><i>&nbsp;&nbsp;Функция которая вызывает метод инстанса класса User, который, напоминаю, является наследником класса Users который
имеет данный метод. Как не странно - инстансы данного класса имею данный метод, и все окей. Что же призойдет если передать
  в качестве аргумента инстанс класса Admin? Давайте посмотрим).
</i></p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/solid-a8ec5.appspot.com/o/ls-pattern-4-current.png?alt=media&token=50b0eea1-ca22-426c-971d-2bfb04570f8b"
     alt="Не удалось загрузить фото("
>
<p><i>&nbsp;&nbsp;Все идет по плану! Наш админ не имеет рейтинга и метода для получения его.</i></p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/solid-a8ec5.appspot.com/o/ls-pattern-5.png?alt=media&token=50f5dbc7-6b89-4494-a905-c0fb9b6d97f8"
      alt="Не удалось загрузить фото("
>
<p><i>&nbsp;&nbsp;Передав базовый класс - мы также получим подсказку о том, что экземпляр данного класса не имеет метода getRating.
Логично!
</i></p>
<p><i><b>&nbsp;&nbsp;Данный поход полстью следует принципу Liskov substitution. Совсем не сложно, не так ли?</b></i></p>
