<div class="wrapper">
  <header class="header-container" appScrollDetection>
    <header class="header">
      <div class="logo" [routerLink]="['/']">
        <img
          class="image"
          src="https://www.pngkit.com/png/full/443-4434759_frontend-development-front-end-development-png.png"
          alt="Не удалось загрузить фото"
        >
        <h3 class="header-text">SOLID principles</h3>
      </div>
      <app-layout-menu></app-layout-menu>
    </header>
  </header>
  <div class="content-wrapper">
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
