.wrapper {
  width: 100%;
  height: 100%;
  min-width: 900px;
  max-width: 2160px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-container {
    background-color: #ffffff;
    width: 100%;
    min-width: 900px;
    max-width: 2160px;
    position: fixed;
    z-index: 2;

    .header {
      margin: auto;
      width: 80%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        display: flex;
        align-items: center;
        cursor: pointer;

        .header-text {
          height: 55px;
          border-left: 2px solid #ffb300;
          padding-left: 10px;
          opacity: 0.7;
          margin-left: 10px;
          display: flex;
          align-items: center;
        }

        .image {
          width: 50px;
          height: 50px;
        }

      }
    }
  }

  .content-wrapper {
    width: 100%;
    min-height: 100%;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;

    .content-container {
      height: 100%;
      width: 80%;
      margin-top: 120px;
      display: flex;
      justify-content: center;
    }
  }
}
