<h3 class="content-block-title"><b>Давайте разберем на более реальном примере.</b></h3>
<p>&nbsp;&nbsp; Безусловно - пример достаточно упрощен, но при должной смекалке его можно применять на практике)</p>
<div class="example-oc">
  <app-open-close-pattern-container></app-open-close-pattern-container>
</div>
<p>&nbsp;&nbsp; Данные компоненты работают в связи друг с другом</p>
<p>&nbsp;&nbsp; Своего рода "водой в ведре" из нашего обстрактного примера является все содержимое компонента создания формы - наш
  input (ну естественно - компонент-визуализатор также реализовует данный принцип, но в данном случае, для большего
  понимания, мы будем рассаматривать этот принцип со стороны компонента создания формы). Изображу данную структуру на рисунке ниже.
</p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/oc-schema-current.png?alt=media&token=4029a620-2aac-40c8-b69a-4bf61449ea73"
alt="Неудалось загрузить фото"
>
<p>&nbsp;&nbsp; Наша родительская форма находится в шаблоне компонента который является контейнером для всех остальных компонентов, нашему
  компоненту-фабрике обсалютно безразлично когда и какие inputs мы в него поместим, более того - ему неважно какой
  компонент будет являтся его родителем. Наша компонент-контейнер также сообщает о своих изменениях наружу - сервису.
</p>
<p>&nbsp;&nbsp;Чем это круто? Давайте поясню: наш компонент гибкий, универсальный, расширямый и теперь может реализовывать любое количество controls и inputs,
нам не потребуется каждый раз создавать новую форму. Думаю что теперь стало понятно.
</p>
<h4 class="content-block-title">Давайте рассмотрим код данной структуры</h4>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/oc-example-html1.png?alt=media&token=f489b18a-c4f5-4055-9478-992812499065"
alt="Неудалось загрузить фото"
>
<p>&nbsp;&nbsp; <i>Начнем с шаблона компонента-контейнера: помещает в себя весь наш пример.</i></p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/oc-example-ts1.png?alt=media&token=08b2f530-9bfc-4a37-8e03-db77332ccd61"
     alt="Неудалось загрузить фото"
>
<p>&nbsp;&nbsp;<i>Логика нашего компонента-контейнера. Считывает данные со своей формы, фомирует и отправляет
данные ниже - в наш компонент-конструктор, провайдит сервис на уровне своего шаблона согласно схеме выше.</i>
</p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/oc-example-ts2.png?alt=media&token=8e8d86bb-5b0a-4a86-b75a-45fd072e3dd0"
     alt="Неудалось загрузить фото"
>
<p>&nbsp;&nbsp;<i>Логика нашего компонента-фабрики. Создает controls и массив параметров для шаблона и директивы, передает серису
controls своей формы при ее изменении.
</i>
</p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/oc-example-html2.png?alt=media&token=53c6b94c-4b09-4a40-8938-342a9ee974cb"
     alt="Неудалось загрузить фото"
>
<p>&nbsp;&nbsp;<i>Шаблон компонента-фабрики. Создает inputs на основе итерации массива параметров, передает директиве ширину.</i>
</p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/oc-example-directive.png?alt=media&token=3a51fbe2-29cc-4b82-a8ab-7a8776255459"
     alt="Неудалось загрузить фото"
>
<p>&nbsp;&nbsp;<i>Директива. Задает переданную ему ширину своему input.</i>
</p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/oc-example-service.png?alt=media&token=1ae5fe17-e284-4a5b-a37a-4258c58fd68b"
     alt="Неудалось загрузить фото"
>
<p>&nbsp;&nbsp;<i>Наш сервис. Принимает в себя сontrols переданные компонентом-фабрикой, делегирует эти данные с помощью стрима.</i>
</p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/oc-example-ts3.png?alt=media&token=9d464117-32fb-4843-9939-7d8c9a49daf5"
     alt="Неудалось загрузить фото"
>
<p>&nbsp;&nbsp;<i>Компонент-визуализатор данных. Принимает в себя сontrols делегированные сервисом, преобразует полученные данные в буквальные объекты
  и наполняет ими массив.</i>
</p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/oc-example-ts3.png?alt=media&token=9d464117-32fb-4843-9939-7d8c9a49daf5"
     alt="Неудалось загрузить фото"
>
<p>&nbsp;&nbsp;<i>Шаблон нашего компонента-визуализатора данных. Итерирует массив созданных объектов и выводит их.</i></p>

<p>&nbsp;&nbsp; Безусловно, форма внутри родительского компонента , как и компонент-визуализатор - это всего лишь условность,
  она создана дабы проще было зрительно воспринимать и понимать данный принцип. Мы бы могли использовать компонент-фабрику
  для создания разных форм в нашем проекте используя controlValueAccessor к примеру, почему бы и нет?
  Наш компонент можно конфигурировать до бесконечности : создавать любого рода директивы, предавая любое количество
  параметров в @input данного компонента-фабрики, все зависит лишь от вашей фантазии).
</p>
<p>&nbsp;&nbsp; Немалую долю возможностей мы можем реализовать с помощью Angular, так как он несет в себе огромный потенциал "прямо
  из коробки", осталось лишь иметь фантазию и знания дабы воспользоваться им и направить в нужное русло).
</p>

