<h1 class="title">Liskov Substitution</h1>
<p class="text">Принцип подстановки Барбары Лисков - один из самых сложных принципов в SOLID.
  Его современное определение таково: <b><i>"Подкласс(наследник) не должен требовать от вызывающего метода больше нежели базовый
  класс(родитель) и не должен предоставлять вызывающему коду меньше чем базовый класс "</i></b>.
  Довольно сложное определение, но сейчас мы постараемся с этим разобраться.
</p>
