<h1 class="title">Interface segregation</h1>
<p class="text">Принцип разделения интерфейсов - еще один довольно простостой принцип.
  Определение не многословно и отлично трактует данный принцип: <b><i>"Создавайте узкоспециализированные интерфейсы,
    предназначенные для конкретного клиента. Клиенты не должны зависеть от интерфейсов, которые они не используют."</i></b>.
  Данный принцип прост в определении. Посмотрим на более подробное разъяснение ниже.
</p>
