<h3 class="content-block-title"><b>Давайте объясню более понятно</b></h3>
<p>&nbsp;&nbsp;Этот принцип несет в себе в большей степени идею о правильном выборе уровня абстракции, нам все время стоит думать
  наперед о том, что наш базовый класс обязан универсально определять все минимально необходимые свойства
  и методы классов наследников, но не более и не менее. Никогда не стоит определять базовый класс таким образом, чтобы в будующем
  могла появиться необоходимость переопределять его поведение и свойства. <b>Всегда стоит очень хорошо обдумывать ваше решение
    о перенесении базового класса на более высокий уровень детализации делая его более частным</b>.
  <br/>
  Надеюсь - так вам стало немного понятнее)
</p>
<h4 class="content-block-title">Сейчас постараемся изобразить данный принцип схематически</h4>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/LSPshema(abstract)%20.png?alt=media&token=83887f7b-9384-435a-b7af-428b20360d56"
alt="Не удалось загрузить фото("
>
<p>&nbsp;&nbsp;Как мы можем увидеть на данной схеме нарушен принцип подстановки. В чем собственно нарушение? Поясняю : всякий раз
  в ходе реакции кислот и металлов мы ожидаем получить оксид, но мы должны учитывать особенность иридия, а любая непредсказуемость
  будет сбивать нас с толку, мы должны максимально это избегать.
  Как бы мы могли этого избежать? Легко! Нам просто следует добавить промежуточные наследника, таким образом повышая
  уровень абстракции.
</p>
<img class="schema" src="https://firebasestorage.googleapis.com/v0/b/newandroid-cb04c.appspot.com/o/LSPshema(abstract-pattern)%20.png?alt=media&token=9c67838f-c4db-4e68-aff2-0be1e1db8867"
     alt="Не удалось загрузить фото("
>
<p>&nbsp;&nbsp; Как мы можем сейчас заметить, мы операемся на базовый класс - Металлы, и мы ожидаем только то, что они являются проводниками,
  и они могут преходить во второе агрегатное состояние. И нам на данном уровне абстракции не важно знать корродирует ли наш металл.
  В дальнейшем мы можем операться на классы более высоких порядов.
</p>
<p>&nbsp;&nbsp; Данный принцип не легко применить на практике, его довольно сложно интерпретировать на код следуя таким
  астрактным примерам.
</p>
<p>&nbsp;&nbsp; <b>Но не пугайтесь, всему можно научиться!</b></p>
