
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Solid-primary: mat.define-palette(mat.$indigo-palette);
$Solid-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Solid-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Solid-theme: mat.define-light-theme((
  color: (
    primary: $Solid-primary,
    accent: $Solid-accent,
    warn: $Solid-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Solid-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Open+Sans&display=swap');

html, body {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  background-color: rgba(239, 239, 239, 0.61)
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.mat-dialog-container {
  padding: 0 !important;
}

.dialog-wrapper {
  padding: 24px;
  min-width: 500px;
  max-width: 500px;
  text-align: center;
}

.btn-click-me {
  cursor: pointer;
  border: 0;
  outline: 0;
  height: 60px;
  width: 200px;
  background-color: #ffb300;
  color: #ffffff;
  opacity: 0.6;
  font-size: 28px;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.btn-click-me:disabled {
  opacity: 1;
  background-color: #b2b2b2;
  cursor: default;
}

.btn-click-me:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.example {
  min-width: 780px;
  max-width: 780px;
  padding: 10px;
}

.title-block {
  min-width: 550px;
  max-width: 550px;
  margin: auto;

  .title {
    color: rgba(255, 184, 0, 0.83);
    text-align: center;
    font-weight: 300;
  }

  .text {
    text-align: center;
    color: #4d3601;
  }
}

.schema {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 800px;
  min-height: 420px;
  border: 2px solid #ffb300;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
}

.content-block-title {
  margin-left: 20px;
}

.content-block {
  margin-top: 40px;
  background: #ffffff;
  min-height: 500px;
  max-width: 1000px;
  padding: 30px;
  color: #000000;
  border: 1px solid rgba(192, 192, 192, 0.91);
  border-radius: 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: 0 !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #ffb300 !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #ffb300 !important;
}

.black-block {
  background-color: black;
  color: #ffb300;
  margin-left: 50%;
  transform: translateX(-50%);
  min-width: 400px;
  min-height: 400px;
  margin-top: 30px;
  padding: 20px;
  opacity: 0.5;
  border-radius: 10px;

  .console-title {
    text-align: center;
  }
}

