<h1 class="title">Single responsibility</h1>
<p class="text">
  Один из самых простых принципов из этой пятерки.<br/>
  Данный принцип гласит : <i><b>"Каждая структура должна быть ответственна только за одну задачу, более того -
  за данную задачу не должна быть ответсвенна иная структура , только эта"</b></i>
  <br/>
  Это очень широкий принцип, касающийся не только программирования, но и привычных нам иных сфер деятельности.<br/>
  Рассмотрим все по-порядку.
</p>
